tei-supplied {

   font-style: italic;

}

tei-supplied:before {

   content: "["

}

tei-supplied:after {

   content: "]"

}

tei-seg[rend="decorInit"] {
   font-size: 300%;
   float: left;
   line-height: 1em;
   padding-right: 10px;
}

